[submodule "Vegtamr"]
	path = Vegtamr
	url = git@github.com:AstroKriel/Vegtamr.git
[submodule "Bifrost"]
	path = Bifrost
	url = git@github.com:AstroKriel/Bifrost.git
[submodule "Loki"]
	path = Loki
	url = git@github.com:AstroKriel/Loki.git
[submodule "Thor"]
	path = Thor
	url = git@github.com:AstroKriel/Thor.git
