[submodule "Bifrost"]
	path = bifrost
	url = git@github.com:AstroKriel/HDF5DataManager.git
[submodule "jormungandr"]
	path = jormungandr
	url = git@github.com:AstroKriel/PythonTools.git
[submodule "Thor"]
	path = thor
	url = git@github.com:AstroKriel/JuliaTools.git
[submodule "Vegtamr"]
	path = vegtamr
	url = git@github.com:AstroKriel/LineIntegralConvolution.git
[submodule "loki"]
	path = loki
	url = git@github.com:AstroKriel/PowerSpectra.git
