[submodule "submodules/jormi"]
	path = submodules/jormi
	url = git@github.com:AstroKriel/PythonHelpers.git
	branch = main
[submodule "submodules/bifrost"]
	path = submodules/bifrost
	url = git@github.com:AstroKriel/HDF5DataManager.git
	branch = main
[submodule "submodules/vegtamr"]
	path = submodules/vegtamr
	url = git@github.com:AstroKriel/LineIntegralConvolution.git
	branch = main
[submodule "submodules/ww-flash-sims"]
	path = submodules/ww-flash-sims
	url = git@github.com:AstroKriel/WWFlashSims.git
	branch = main
[submodule "submodules/ww-arepo-sims"]
	path = submodules/ww-arepo-sims
	url = git@github.com:AstroKriel/WWArepoSims.git
	branch = main
[submodule "submodules/ww-quokka-sims"]
	path = submodules/ww-quokka-sims
	url = git@github.com:AstroKriel/WWQuokkaSims.git
	branch = main
